# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

# Server config
*settings.json

# Go module checksums
*.sum

# Mac store
*.DS_store

# Web deps
node_modules
build
